$primary-color: #f0efeb;
$secundary-color: #dbe7e4;
$font: 'Raleway', sans-serif;

body  {
  background: $primary-color;
  font-family: $font;
}

.container {
  display: flex;
  flex-direction: column;
  flex: wrap;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}


.item{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

  &__card {
    background: $secundary-color;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    margin: 5px;
    text-align: center;
  }
}

.fig__poke {
  width: 100px;
  height: 100px;
}
