$primary-color: #f0efeb;
$secundary-color: #dbe7e4;
$font: 'Raleway', sans-serif;

body  {
  background: $primary-color;
  font-family: $font;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}


.items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin-top: 50px;
  width: 100%;

  &__card {
    background: $secundary-color;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 200px;
    width: 100%;
    text-align: center;
  }
}

.fig__poke {
  width: 100px;
  height: 100px;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 16px;
  }
}
